// Base


a {
	color: $barfoot-blue;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

html {
	margin-top: 0;
}

.epl-archive-utility-wrapper {
	display: none;
}

#sidebar {
	display: none;
}

.archive-header {
	display: none;
}

.home-heading {
	margin: 1em;
	max-width: 1400px;
	margin-bottom: 0;
	h2 {
		
		text-transform: uppercase;
		font-size: 1.5em;
	}
}

@media only screen and (min-width : 1400px) {
	.home-heading{
		padding-left: 1em;
		margin: 1em auto;
		margin-top: 2em;
		margin-bottom: 0;
	}
}
	