//blog posts home page

.blog-posts-home {
	margin: 1em;
}

.blog-heading-home {
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 1em 0;
}

.blog-subheading-home {
	font-weight: 400;
	margin: 1em 0;
	margin-bottom: 2.5em;
}

.blog-post-individual-home {
	display: flex;
	margin: 1em 0;
	
	.blog-post-image-home {
		flex: 0 0 25%;
		height: 100%;
		content: "";
		display: block;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		max-width: 14em;
		max-height: 14em;

		&:after {
		  content: '';
		  display: block;
		  padding-bottom: 100%;
		}
	}


	.blog-post-individual-content-home {
		margin-left: 1em;
	}

	.blog-post-title {
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 700;

		a {
			text-decoration: none;
			color: #000;
		}
	}

	.blog-post-date-home {
		color: #444448;
		text-decoration: none;
		font-size: .75em;
	}

	.blog-post-read-more {
		color: #fff;
		background-color: $barfoot-blue;
		display: block;
		width: 8em;
		height: 2em;
		font-size: .75em;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		line-height: 2em;
	}
}

@media only screen and (min-width : 40em) {

	.blog-post-individual-home {
		.blog-post-title {
			font-size: 1.1em;
		}
	}
}

@media only screen and (min-width : 60em) {
	.blog-posts-home {
		margin: 2em 10em;
	}
	.blog-inner-home {
		display: flex;
		flex-wrap: wrap;

		.blog-post-individual-home {
			flex: 1 0 45%;

			&:first-child {
				margin-right: 2em;
			}
		}
	}

	.view-all-posts {
		flex: 1 0 90%;
		color: red;
	}
}

@media only screen and (min-width : 60em) {
	.blog-posts-home {
		margin: 4em 11em;
	}
}

.blog-loop-container {

	max-width: 1200px;
	margin: auto;

	.blog-loop-item {
		border-bottom: 1px rgba(0,0,0,0.1) solid;
		margin: 1.5em;
		padding-bottom: 1em;

		&:last-child {
			border: 0;
		}
	}

	.blog-loop-button {
		margin-bottom: 1em;
		background-color: $barfoot-blue;
		color: #fff;
		display: block;
		height: 3em;
		line-height: 3em;
		width: 10em;
		font-size: 1.25em;
		text-decoration: none;
		text-align: center;
		border-radius: 3px;
		margin-top: 2em;
	}

	.blog-loop-meta {
		background-color: lighten($secondary-color, 50%);
		padding: .25em 1em;
		box-shadow: 2px 2px 1px rgba(0, 0, 0, .07);
		border-radius: 3px;
		color: $secondary-color;
		max-width: 24em;
		font-size: .9em;

		a {
			color: $secondary-color;
			text-decoration: none;
			font-weight: 700;
		}
	}

	.blog-loop-title {
			margin-bottom: 1em;

		a {
			font-weight: 300;
			color: $barfoot-blue;
			text-decoration: none;
			font-size: 1em;
		}
	}

	.blog-loop-excerpt {
		a {
			color: $barfoot-blue;
			display: block;
			margin-top: .5em;
		}
	}
}

@media only screen and (min-width : 60em) {
	.blog-loop-container {
		.blog-loop-title {
			a {
				font-size: 1.5em;
			}
		}
	}
}

@media only screen and (min-width: 80em){
	.blog-loop-container {
		margin: 3em auto;
	}
}

.blog-post-single-outer {
	margin: 1em;
}

.blog-post-single {
	max-width: 1200px;
	margin: auto;
}