

// .contact-head {
// 	text-align: center;
// 	border-bottom: 0.5px solid #000000;
// 	display:block;
// 	margin-left: 40%;
// 	margin-right: 40%;

// }

// .bluebackground{
// 			color: black;
			
// 			position: relative;
// 			text-align: left;
// 			display: inline-block;
// 			flex-wrap: wrap;
// 			justify-content: left;
// 			align-content: left;
// 			flex: 1 0 90%;
// 			margin-left: 10%;
// 			margin-top: 4em;

// 		}

// .address { 
// 			position: relative;
// 			text-align: left;
// 			display: block;
// 			flex-wrap: wrap;
// 			justify-content: left;
// 			align-content: left;
// 			flex: 1 0 90%;
// 			margin-left: 10%;
// 			margin-top: 1.5em;
// 			margin-bottom: 1em;

// }
// .pobox {
// 	flex: 1 0 90%;
// 			margin-left: 10%;
// 			margin-top: 1em;
// }

// .email {
// 	margin-top: 0.5em;
// 	margin-left: 10%;
// }

// .phone {
// 	margin-top: 0.5em;
// 	margin-left: 10%;
// }
// .alt-contact {
// 	margin-left:10%;
// 	margin-top: 2em;
// 	margin-bottom: 1em;
// }

// .contact-form {
// 	display: inline-block;
// 	position: relative;
// 			margin-left: 8.9%;
// 			width: 100%;
// 			font-family: 'Roboto', sans-serif; 
// }
// .message {
	
// }




// .button{
// 	background-color: #0057a1;
//     border: none;
//     color: white;
//     padding:10px 30px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 16px;
//     box-shadow: 2px 4px 5px black;
// }

.map {
	
	position: relative;
	margin-top: 2em;
	margin-left: 10%;
	padding-bottom: 5em;



}

.contact-wrap {
	margin: 1em;
}

.contact-contactform {
	margin-top: 1em;

	form {

		.contact-form-row {
			margin: auto;
			display: flex;
			flex-wrap: wrap;
			
			span {
				margin-top: .5em;
			}

			.form-text {
				flex: 1 0 90%;
			}

		}
	}

	#submit-button {
		flex: 1 0 90%;
		margin-top: 1em;
		max-width: 17em;

		input {

			width: 100%;
			text-align: center;
			background-color: $barfoot-blue;
			height: 3em;
			line-height: 3em;
			color: #fff;
			border: none;
			outline: 0;
		}
	}
}


// .send {
// 	background-color: #0057a1;
//     border: none;
//     color: white;
//     padding:10px 30px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 16px;
// }

@media only screen and (min-width : 60em) {
	.page-contact {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 70%
	}
	.contact-wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 1em 2em;
		justify-content: center;
		align-content: center;


		.contact-contactform {
			margin-top: 0;
		}

		.contact-info {
			flex: 1 0 40%;
		}

		.contact-contactform {
			flex: 1 0 40%;
			align-self: center;

			form {

				.contact-form-row {
						display: block;
					
					span {
						text-align: center;
						display: block;
					}

					.form-text {
						display: block;
					}

				}
			}

			#submit-button {
				flex: 1 0 90%;
				margin-top: 1em;
				max-width: 17em;

				input {
					width: 100%;
					text-align: center;
					background-color: $barfoot-blue;
					height: 3em;
					line-height: 3em;
					color: #fff;
					border: none;
					outline: 0;
				}
			}
		}

		.contact-map {
			flex: 1 0 90%;
			margin-top: 1em;
		}
	}
}

// @media only screen and (min-width : 80em) {
// 	.contact-warp {
// 		margin: 1em 5em;

// 	}
// }
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
