.form-box {
	border: 2px #CAC4CF solid;
	padding: .5em;
	border-radius: 5px;
	margin-bottom: .5em;
	display: flex;

	input {
		border: none;
		padding-left: .5em;
		color: $barfoot-blue;

		&::-webkit-input-placeholder {
			color: #CAC4CF;
			transition: .2s ease;
		}

		&:focus::-webkit-input-placeholder {
			color: #fff;
		}

		&:focus {
			outline: none;
		}

	}

	label {
		padding-right: .5em;
		border-right: 2px #CAC4CF solid;
		transition: .2s ease;

		i {
			color: #CAC4CF;
			transition: .2s ease;
		}
	}

	&:focus-within {
		border: 2px $barfoot-blue solid;
		color: $barfoot-blue;
		label {

			border-color: $barfoot-blue;

			i {
				color: $barfoot-blue;
			}
		}
	}
}

#form-message {

	.your-message{
		width: 100%;

		textarea {
			width: 95%;
			border: 0;
			outline: none;
			padding-left: .5em;
			color: $barfoot-blue;
			resize:vertical;

			&::-webkit-input-placeholder {
			color: #CAC4CF;
			transition: .2s ease;
			}

			&:focus::-webkit-input-placeholder {
				color: #fff;
			}
		}
	}
	
}

.form-submit .button{
	width: 140px;
	height: 40px;
	border-radius: 5px;
	background-color: $barfoot-blue;
	color: white;
	font-weight: 300;
	font-style: italic;
	font-size: 15px;
	border: none;
	transition: .2s ease;
	justify-content: center;
}

.form-submit {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.form-submit .button:hover {
	background-color: #0095FF;
}

.map {
	
	position: relative;
	margin-top: 2em;
	margin-left: 10%;
	padding-bottom: 5em;
}

.contact-wrap {
	margin: 1em;
}

.contact-contactform {
	margin-top: 1em;

	form {

		.contact-form-row {
			margin: auto;
			display: flex;
			flex-wrap: wrap;
			
			span {
				margin-top: .5em;
			}

			.form-text {
				flex: 1 0 90%;
			}

		}
	}

	#submit-button {
		flex: 1 0 90%;
		margin-top: 1em;
		max-width: 17em;

		input {

			width: 100%;
			text-align: center;
			background-color: $barfoot-blue;
			height: 3em;
			line-height: 3em;
			color: #fff;
			border: none;
			outline: 0;
		}
	}
}

@media only screen and (min-width : 60em) {
	.page-contact {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
	}

	.contact-wrap {
		max-width: 1200px;
		display: flex;
		flex-wrap: wrap;
		margin: 2em auto;
		justify-content: center;
		align-content: center;


		.contact-contactform {
			margin-top: 0;
		}

		.contact-info {
			flex: 1 0 45%;
		}

		.contact-contactform {
			flex: 1 0 45%;
			align-self: center;

			form {

				.contact-form-row {
						display: block;
					
					span {
						text-align: center;
						display: block;
					}

					.form-text {
						display: block;
					}

				}
			}

			#submit-button {
				flex: 1 0 90%;
				margin-top: 1em;
				max-width: 17em;

				input {
					width: 100%;
					text-align: center;
					background-color: $barfoot-blue;
					height: 3em;
					line-height: 3em;
					color: #fff;
					border: none;
					outline: 0;
				}
			}
		}

		.contact-map {
			flex: 1 0 90%;
			margin-top: 1em;
		}
	}
}

@media only screen and (min-width : 80em) {
	.contact-wrap {
		margin: 3em auto;
	}
}

// @media only screen and (min-width : 80em) {
// 	.contact-warp {
// 		margin: 1em 5em;

// 	}
// }
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
