//Property Listings

.epl-active-theme-barfootcustomtheme {
	margin: 1em;
}


.property-wrapper {
	margin: 1em;
}

.property-title {
	margin: .5em 0;
}

.property-subheading {
	margin-bottom: .5em;

	h3 {
		font-weight: 700;
	}
}

.property-details-pricing {
	margin: 1em 0;

	span {

		font-weight: 600;
		font-size: 1.25em;
	}
}

.property-featured-image {
	width: 100%;

	img {
		display: block;
		width: 100%;
	}
}

.property-button {
	display: block;
	text-align: center;
	margin: 2em 0;

	a {
		color: #fff;
		text-decoration: none;
		display: block;
		width: 100%;
		height: 100%;
		background-color: $barfoot-blue;
		padding: 1em 0;
		transition: .5s ease all;

		&:hover {
			background-color: lighten($barfoot-blue, 10%);
		}
	}

}

.property-details-row {
	display: flex;
	margin-top: 1em;
	p {
		margin: 0;
		margin-left: .5em;
	}
}

.property-gallery-item {
	margin-bottom: 1em;

	a {
		img {
			display: block;
			width: 100%;
		}
	}
}

.property-agent-wrapper {
	margin: 1em 0;
	.property-agent {
		display: flex;
		flex-wrap: wrap;
		margin: 1em 0;

		&-image {
			flex: 1 0 10%;
			margin-right: 2em;

			img {
				width: 100%;
				display: block;
			}
		}

		&-details {
			flex: 1 0 50%;

			.agent-name {
				margin: 0;
				font-weight: 700;
				margin-bottom: 1em;
			}

			.agent-phone, .agent-email {
				font-weight: 200;
				margin: 0;
			}
		}
	}
}

.property-map {
	margin: 2em 0;
}

#property-map {
	height: 20em;
}

@media only screen and (min-width: 60em) {
	.property-wrapper {
		display: flex;
		flex-wrap: wrap;

		.property-title {
			flex: 1 0 90%;
			margin: .5em 1em;
		}

		.property-subheading {
			flex: 1 0 90%;
			margin: 0 1em;
		}

		.property-featured-image {
			flex: 1 0 45%;
			padding: 1em;
			max-width: 32em;
		}

		.property-price-content {
			flex: 1 0 45%;
			padding: 1em;
		}

		.property-details-pricing {
			margin-top: 0;
		}

		.floor-plan-link {
			flex: 1 0 90%;
			margin: 0 1em;
		}

		.epl-tab-wrapper {
			flex: 1 0 90%;
			margin: 0 1em;
		}

		.property-gallery {
			margin-left: .25em;
		}

		.property-video-and-map {
			display: flex;

			.property-video {
				flex: 1 0 45%;
			}

			.property-map {
				flex: 1 0 45%;
				padding-left: 1em;

				.epl-tab-section {
					margin: 0;

				}

				#epl-default-map {
					height: 100%;
				}
			}
		}
	}
}

@media only screen and (min-width: 80em) {
	.property-wrapper {
		margin: 2em 10em;
	}
}
