//Property Listings
.epl-active-theme-barfootcustomtheme {
	margin: 1em;
}


.property-wrapper {
	margin: 1em;
}

.property-title {
	margin: .5em 0;
}

.property-subheading {
	margin-bottom: .5em;

	h3 {
		font-weight: 700;
	}

	.address-heading {
		font-weight: 400;
	}
}

.property-details-pricing {
	margin: 1em 0;

	span {

		font-weight: 600;
		font-size: 1.25em;
	}
}

.property-featured-image {
	width: 100%;

	img {
		display: block;
		width: 100%;
	}
}

.property-button {
	display: block;
	text-align: center;
	margin: 2em 0;

	a {
		color: #fff;
		text-decoration: none;
		display: block;
		width: 100%;
		height: 100%;
		background-color: $barfoot-blue;
		padding: 1em 0;
		transition: .5s ease all;

		&:hover {
			background-color: lighten($barfoot-blue, 10%);
		}
	}

}

.property-details-row {
	display: flex;
	margin-top: 1em;
	p {
		margin: 0;
		margin-left: .5em;
	}
}

.property-gallery-item {
	margin-bottom: 1em;
	overflow: hidden;
	height: 14em;

	a {

		img {
			display: block;
			width: 100%;
		}
	}
}

.property-agent-wrapper {
	margin: 1em 0;
	.property-agent {
		display: flex;
		flex-wrap: wrap;
		margin: 1em 0;

		&-image {
			height: 7em;
			width: 7em;
			margin-right: 2em;
			border-radius: 50%;
			overflow: hidden;



			img {
				width: 100%;
				display: block;
			}
		}

		&-details {
			flex: 1 0 50%;

			.agent-name {
				margin: 0;
				font-weight: 700;
				margin-bottom: 1em;
			}

			.agent-phone, .agent-email {
				font-weight: 200;
				margin: 0;
			}
		}
	}
}

.property-map {
	margin: 2em 0;
}

#property-map {
	height: 20em;
}
@media only screen and (min-width: 30em) {

	.property-gallery {
		display: flex;
		flex-wrap: wrap;

		&-item {
			flex: 0 0 46%;
			height: 10em;
			margin-right: .75em;
		}
	}
}

@media only screen and (min-width: 40em) {

	.property-gallery {
		display: flex;
		flex-wrap: wrap;

		&-item {
			flex: 0 0 48%;
			height: 13em;
		}
	}
}

@media only screen and (min-width: 60em) {

	.property-gallery {

		&-item {
			flex: 0 0 20%;
			height: 8.5em;
		}
	}

	.property-wrapper {
		max-width: 1400px;
		margin: 2em auto;
	}

	.property-wrapper {
		display: flex;
		flex-wrap: wrap;

		.property-title {
			flex: 1 0 90%;
			margin: .5em 1em;
		}

		.property-subheading {
			flex: 1 0 90%;
			margin: 0 1em;
		}

		.property-featured-image {
			flex: 1 0 45%;
			padding: 1em;
			max-width: 32em;
		}

		.property-price-content {
			flex: 1 0 45%;
			padding: 1em;
		}

		.property-details {
			flex: 1 0 90%;
			margin: 2em 1em;
		}

		.property-gallery {
			margin: 0 1em;
		}

		.property-buttons {
			flex: 1 0 90%;
			display: flex;
			margin: 2em 1em;
		}

		.property-button {
			margin: 0;
			width: 15em;
			height: 1.25em;
			margin-right: 1em;
		}

		.property-agent-wrapper {
			display: flex;
			flex-wrap: wrap;
			flex: 1 0 90%;
			margin: 0 1em;

			h1 {
				flex: 1 0 90%;
			}

			.property-agent {
				flex: 1 0 45%;
			}
		}

		.property-map {
			flex: 1 0 90%;
			margin: 1em
		}
	}
}

@media only screen and (min-width: 80em) {

	.property-gallery {

		&-item {
			height: 11em;
		}
	}
}
